@model E_OneWeb.Models.Category

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Category";
}

<form method="post">
    <br />
    <div class="row p-3 border">
      
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Id != 0)
        {
            //edit
            title = "Edit Category";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-10">
                    <input asp-for="Name" class="form-control" style="row-gap" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

        </div>        

        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    <label>Percent</label>
                </div>
                <div class="col-4">
                    <input asp-for="Percent" class="form-control" style="row-gap" />
                    <span asp-validation-for="Percent" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label>Period /year</label>
                </div>
                <div class="col-4">
                    <input asp-for="Period" class="form-control" style="row-gap" />
                    <span asp-validation-for="Period" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-10">
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
            </div>

        </div>

        <br />
        <div class="form-group margin-bottom-2 pt-2">
            <div class="col-md-12 text-center">
                @if (Model.Id != 0)
                {
                    <partial name="_EditAndBackToListButton" model="Model.Id" />
                }
                else
                {
                    <partial name="_CreateAndBackToListButton" />
                }
            </div>
        </div>
      
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}