
<div class="form-group margin-bottom-2 pt-2">
    <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary form-control" style="width:145px">Create</button>
        <a asp-action="Index" class="btn btn-success form-control" style="width:145px">Back to List</a>
    </div>
</div>