@using E_OneWeb.Utility;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="120">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>unblsarpras - Sarana dan Prasarana Universitas Borneo Lestari</title>
   @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link href="~/css/bootswatchthemes.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_OneWeb.styles.css" asp-append-version="true" />
    <link href="~/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link rel="icon" href="~/images/logo bornoe.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                @if (User.IsInRole(SD.Role_User))
                {
                    <a class="navbar-brand" asp-area="Users" asp-controller="RoomReservation" asp-action="Index"><i class="fa fa-fw fa-home"></i> Beranda</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                }else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-fw fa-home"></i> SARPRAS</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                }
               
                <div class="collapse navbar-collapse" id="navbarColor01">

                    <ul class="navbar-nav me-auto">
                       @* <li class="nav-item">
                            <a class="nav-link" asp-area="Users" asp-controller="Home" asp-action="Index">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>*@
                        @if (User.IsInRole(SD.Role_User))
                        {
                           
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Users" asp-controller="RoomReservation" asp-action="Create">
                                    Pinjam Ruangan
                                    <span class="visually-hidden">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Users" asp-controller="VehicleReservation" asp-action="Create">
                                    Pinjam Kendaraan
                                </a>
                            </li>
                      @*      <li class="nav-item">
                                <a class="nav-link" asp-area="Users" asp-controller="RoomReservation" asp-action="BookingClassRoom">
                                    Pinjam Ruang Kelas
                                    <span class="visually-hidden">(current)</span>
                                </a>
                            </li>*@
                            <li class="nav-item">
                               @* <a class="nav-link" asp-area="Identity" asp-controller="/Account/Manage" asp-action="Index">
                                    Profil
                                    <span class="visually-hidden">(current)</span>
                                </a>*@
                                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profil</a>
                            </li>

                        }

                        @if (User.IsInRole(SD.Role_Unit))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Service And Mantenance</a>


                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ServiceItems" asp-action="Index">Service Items</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ServiceItems" asp-action="Approve">Approve Service</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Request Items</a>


                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="RequestItems" asp-action="Index">Request Items</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="RequestItems" asp-action="Approve">Approve Request</a>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Master Items</a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Room" asp-action="Index">Location</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Items" asp-action="Index">Items</a>
                                   
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transfer Items</a>

                                
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ItemTransfer" asp-action="Index">Transfer Items</a>                                  
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Service And Mantenance</a>


                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ServiceItems" asp-action="Index">Service Items</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ServiceItems" asp-action="Approve">Approve Service</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Request Items</a>


                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="RequestItems" asp-action="Index">Request Items</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="RequestItems" asp-action="Approve">Approve Request</a>
                                </div>
                            </li>
                   
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Peminjaman Ruangan/ Kelas</a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="RoomList" asp-action="Index">Daftar Ruangan</a>
                                    @*<a class="dropdown-item" asp-area="Admin" asp-controller="ClassList" asp-action="Index">Daftar Peminjaman Kelas</a>*@
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="FixedSchedulerRoom" asp-action="Index">Daftar Ruang Kelas Tetap</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="RoomReservationAdmin" asp-action="Index">Daftar Peminjam</a>
                                </div>                               
                                
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Peminjaman Kendaraan</a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Drivers" asp-action="Index">Daftar Supir</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="VehicleList" asp-action="Index">Daftar Kendaraan</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="VehicleBooking" asp-action="Index">Daftar Peminjam</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reporting</a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ReportItems" asp-action="Index">Items</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ReportTransferItem" asp-action="Index">Transfer Item</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ReportServiceItem" asp-action="Index">Service And Mantenance</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ReportRequestItem" asp-action="Index">Request Item</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ReportDepreciationExpense" asp-action="Index">Depreciation Expense</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ReportRoomReservation" asp-action="Index">Room Reservation</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ReportRoomAndLocation" asp-action="Index">Room And Location</a>
                                </div>

                            </li>
                        

                        }

                    </ul>

                    <partial name="_LoginPartial" />
                </div>
                @*<form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>*@
            </div>
        </nav>
    </header>
 
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - E_OneWeb
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>  
    <script src="~/bundle/jquery-ui.min.js"></script>
    <script src="~/bundle/jquery.datatables.min.js"></script>
    <script src="~/bundle/toastr.min.js"></script>
    <script src="~/js/e19c476714.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
