@{
    ViewData["Title"] = "Buku Panduan";
}


<!DOCTYPE html>
<html>

<body>
    <br />
    <div class="row p-3 border">

        <h3><u>@ViewData["Title"]</u></h3>
        <b>
            &#49;&#46; Cara Menggunakan Menu Pinjam Ruangan &#58;

        </b>
        <p>
            &emsp;-	Pilih ruangan yang ingin dipinjam<br />
            &emsp;-	Isi mata kuliah<br />
            &emsp;-	Isi dosen<br />
            &emsp;-	Isi tanggal peminjaman beserta jamnya<br />
            &emsp;-	Isi tanggal selesai peminjaman beserta jamnya<br />
            &emsp;-	Isi keperluannya<br />
            &emsp;-	Isi mengetahui<br />
            &emsp;-	Upload file<br />
            &emsp;-	Lalu simpan data
        </p>

        <p>
            &emsp;&#8727; Apabila tanggal beserta jam yang dipilih sudah digunakan maka ruangan tidak bisa dipinjam.<br />
            &emsp;&#8727; Untuk melihat data tanggal beserta jam yang sudah di pinjam dapat dilihat di menu pinjam ruangan &#40;Daftar waktu yang sudah digunakan &#41;.<br />
            &emsp;&#8727; Menu Beranda untuk melihat status (Approved atau Rejected) dan history peminjaman.<br />
            &emsp;&#8727; Apabila status belum di approve maka peminjam belum bisa menggunakan rungan tersebut.
        </p>
       @* <b>
            &#50;&#46; Cara Menggunakan Menu Pinjam Ruang Kelas &#58;
        </b>
        <p>
            &emsp;-	Pilih ruang kelas yang ingin dipinjam<br />
            &emsp;-	Isi mata kuliah<br />
            &emsp;-	Isi dosen<br />
            &emsp;-	Isi keperluannya<br />
            &emsp;-	Isi mengetahui<br />
            &emsp;-	Upload file<br />
            &emsp;-	Lalu simpan data
        </p>*@
      @*  <p>
            &emsp;&#8727; Menu Beranda untuk melihat status (Approved atau Rejected) dan history peminjaman.<br />
            &emsp;&#8727; Apabila status belum di approve maka peminjam belum bisa menggunakan rungan tersebut.
        </p>*@
    </div>
    
  
</body>

</html>
