<div class="form-group">
    <div id="alert_RateAmn"></div>
    <div class="col-md-12">
        <div class="panel panel-info">



            <div class="panel-body" style="min-width:100%;overflow:scroll">

                
                <div class="p-4 border rounded">
                    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
                        <thead class="thead-dark">
                            <tr class="table-info">

                                <th>
                                    Nama Aset
                                </th>
                                <th>
                                    Keterangan
                                </th>
                                <th>
                                    Lokasi Sebelunya
                                </th>
                                <th>
                                    Lokasi Setelahnya
                                </th>
                                <th>
                                    Tanggal Pemindahan
                                </th>


                                <th style="min-width:100px"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

                
                <br />
                

            </div>
        </div>
    </div>
</div>




@section Scripts{

	<script src="~/js/itemtransfer.js"></script>
}