@model E_OneWeb.Models.ViewModels.ItemsVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Add Item";
}
@*<form class="d-flex">
    <input class="form-control me-sm-2" type="search" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>*@
<form method="post">
    <br />
    <div class="row p-3 border">
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    <label>Item Name</label>
                </div>
                <div class="col-10">
                    <input asp-for="Items.Name" class="form-control" style="row-gap" />
                    <span asp-validation-for="Items.Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Items.Description"></label>
                </div>
                <div class="col-10">
                    <textarea asp-for="Items.Description" class="form-control"></textarea>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    <label>Date of Acquisition</label>
                </div>
                <div class="col-10">
                    <input asp-for="Items.StartDate" class="form-control" type="date" />
                    <span asp-validation-for="Items.StartDate" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    <label>Price</label>
                </div>
                <div class="col-10">
                    <input asp-for="Items.Price" class="form-control" style="row-gap" onchange="changesqty()" id="price" />
                    <span asp-validation-for="Items.Price" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    <label>Qty</label>
                </div>
                <div class="col-10">
                    <input asp-for="Items.Qty" class="form-control" style="row-gap" onchange="changesqty()" id="qty" />
                    <span asp-validation-for="Items.Qty" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    <label>Total Amount</label>
                </div>
                <div class="col-10">
                    <input type="hidden" asp-for="Items.TotalAmount" id="TotalAmount_" />
                    <input asp-for="Items.TotalAmount" class="form-control" style="row-gap" id="totalamount" disabled />
                    <span asp-validation-for="Items.TotalAmount" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    <label>Percent</label>
                </div>
                <div class="col-4">
                    <input asp-for="Items.Percent" class="form-control" style="row-gap" id="percent" />
                    <span asp-validation-for="Items.Percent" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label>Period /year</label>
                </div>
                <div class="col-4">
                    <input asp-for="Items.Period" class="form-control" style="row-gap" />
                    <span asp-validation-for="Items.Period" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    <label>Depreciation Expense</label>
                </div>
                <div class="col-10">
                    <input asp-for="Items.DepreciationExpense" class="form-control" style="row-gap" id="depreciationexpense" disabled />
                    <span asp-validation-for="Items.DepreciationExpense" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    Ownership
                </div>
                <div class="col-10">
                    <input asp-for="Items.OriginOfGoods" class="form-control" />
                    <span asp-validation-for="Items.OriginOfGoods" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    Location
                </div>
                <div class="col-10">
                    @Html.DropDownListFor(Model => Model.Items.RoomId , Model.RoomList, "-Select a Location",
                    new { @Class = "form-control" , @id = "location" })
                    <span asp-validation-for="Items.RoomId" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    Category
                </div>
                <div class="col-10">
                    @Html.DropDownListFor(Model => Model.Items.CategoryId , Model.CategoryList, "-Select a Category",
                    new { @Class = "form-control" })
                    <span asp-validation-for="Items.CategoryId" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-2">
                    Item Condition
                </div>
                <div class="col-10">
                    <input asp-for="Items.Status" class="form-control" />
                    <span asp-validation-for="Items.Status" class="text-danger"></span>
                </div>
            </div>

        </div>
        <br />
        <div class="col-12 pt-2">
            <div class="form-group row">
                <div class="col-6 offset-2">
                    @if (Model.Items.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Items.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
   

    @*   <div class="form-group">
        <label asp-for="PurchaseOrderHeader.Supplier"></label>
        <div class="col-md-8">
            <div class="input-group">
                <input asp-for="PurchaseOrderHeader.Supplier" class="form-control" style="row-gap" />
                <span class="input-group-btn" style="vertical-align:top">
                    @Html.ActionLink(" ", "LookupProduct", "PurchaseOrder", null, new { id = "btn-policy", @class = "btn btn-primary glyphicon glyphicon-search", @onclick = "show_modal(this, 1);return false;" })
                </span>
            </div>
            <span asp-validation-for="PurchaseOrderHeader.Supplier" class="text-danger"></span>
        </div>
    </div>*@
</form>

@*<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                

                <br />
                <div class="p-4 border rounded">
                    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
                        <thead class="thead-dark">
                            <tr class="table-info">
                                <th>
                                    Product Name
                                </th>
                                <th>
                                    Code
                                </th>
                                <th>
                                    Brand Name
                                </th>  
                                <th>
                                    Sell Price
                                </th>

                                <th style="min-width:100px"></th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>*@

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}